$font-family-montserrat: "Montserrat";
$font-family-quicksand: "Quicksand";

// Colors
$title-color: #17181c;
$text-color: #777;
$text-color-999: #999;
$white: #fff;
$black: #000;
$eee: #eee;
$bbb: #bbb;
$ccc: #ccc;
$gray: #f9f9f9;
$gray-bg: #f9f9f9;
$light-bg: #1b1c20;
$dark-bg: #17181c;
$main-primary-color: #7963e0;
$main-secondary-color: #7963e0;
$main-bg-1: #fff;
$main-bg-2: url("../img/shape/bg-thumb-2.png");
$main-bg-3: url("../img/shape/bg-thumb-3.png");
//Border radius
$border-radius-30: 30px;
$border-radius-20: 20px;
$border-radius-15: 15px;
$border-radius-10: 10px;

$border-color: #17181c;

$dark-mode-bg: #202126 !important;
$dark-mode-bg-light: #2c2f36 !important;

$dark-mode-bg-color: #17181c !important;
$dark-mode-bg-light-color: #2c2f36 !important;
